.take-user-input{
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}
.take-user-input textarea{
    background-color: rgb(229, 236, 236);
    padding: 2em;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(224, 28, 250);
    min-height: 180px;
    /* max-height: 200px; */
    /* max-width: 400px;; */
}
.inp-btn{
    padding: 1em;
    border-radius: 2em;
    cursor:pointer;
    border: 0.5px solid grey;
    box-shadow: 0.2em 0.2em 20px grey ;
}
.inp-btn:hover{
    background-color: rgb(211, 255, 211);
}
.output{
    display:flex;
    flex-direction: column;
    padding:1em;
    gap: 1em;
    background-color: rgb(214, 246, 247);
}
.output textarea{
    background-color: rgb(229, 236, 236);
    padding: 2em;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(224, 28, 250);
    min-height: 200px;
}
.select-tag{
    width: 100%;
}
.Features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.copy-done{
    color: rgb(132, 0, 255);
}